{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="mt-5 pt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>My Site</h3>
            <p class="font-weight-bold">
                Welcome to my website, visitor!
                If you have an account, please <a href="{% url 'login' %}">Log In</a>. If not, feel free to <a href="{% url 'signup' %}">Sign Up</a>.</p>
            <p>
                <strong>Total users registered</strong> {{ count }}
            </p>
        </div>
    </div>
</div>
{% endblock %}