{% extends 'base.html' %}
{% load static %}


{% block title %}Map{% endblock %}

{% block content %}

    <!-- offcanvas -->

    <div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">

        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <div class="text-secondary small fw-bold text-uppercase px-3">
                            CORE
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}" class="nav-link px-3 active">
                            <span class="me-2">
                                <i class="bi bi-speedometer"></i>
                            </span>
                            <span>Flight Delay</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'map' %}" class="nav-link px-3 active">
                            <span class="me-2">
                                <i class="bi bi-geo-alt"></i>
                            </span>
                            <span>Map</span>
                        </a>
                    </li>
                    <li class="my-4">
                        <hr class="border-top-dashed dropdown-divider">
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- offcanvas -->

    <!-- map -->
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <span><i class="bi bi-map me-2"></i></span>Map
                        </div>
                        <div class="card-body">
                            {{ m|safe }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <span><i class="bi bi-table me-2"></i></span>Data Tables
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped data-table" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in loc %}
                                        <tr>
                                            <td>{{ item.User }}</td>
                                            <td>{{ item.Location }}</td>
                                        </tr>                                        
                                        {% endfor %}                                       
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>User</th>
                                            <th>Location</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>    
                        </div>
                    </div>
                </div>       
            </div>     
        </div>
    </main>
{% endblock %}
